<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    
    
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Projecto PrimeFaces</title>
        <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/>
    </h:head>
    
    <style type="text/css">
    button.ui-button {
        margin-right: .5rem;
    }
    </style>
    
    <h:body>
        <p:growl id="messages" showDetail="true"/>
        <h:form>
            <p:fieldset id="flogin">
                <br></br>
                <p:panelGrid style="margin: 0 auto" id="pgtitulo" columns="1">
                <p:outputLabel style="margin: 0 auto; font-size: 200%; font-style: italic; font-family: vivaldy" id="outtitulo" value="Bienvenido a Nuestra Biblioteca"/>
                </p:panelGrid>
                <br></br>
                <p:contentFlow value="#{bkn_Login.images}" var="image">
                    <p:graphicImage url="../Imagenes/#{image}" styleClass="content"/>
                    <div class="caption">#{image}</div>
                </p:contentFlow>
                <br></br>
                <br></br>
                <p:panelGrid style="margin: 0 auto" id="pgopcion" columns="1">
                    <p:outputLabel style="text-align: center" id="outOption" value="Seleccione una Opcion"/>
                    <p:selectOneRadio style="margin: 0 auto" id="multOption" value="#{bkn_Login.opcion}" unselectable="true">
                        <f:selectItem itemLabel="Usuario" itemValue="Usuario"/>
                        <f:selectItem itemLabel="Administrador" itemValue="Administrador"/>
                    </p:selectOneRadio>
                </p:panelGrid>
                <p:dialog id="dialogcuenta" widgetVar="wdialog" modal="true">
                    <p:panelGrid style="margin: 0 auto" columns="1">
                        <p:outputLabel value="Nueva Cuenta"/>
                    </p:panelGrid>
                    <br></br>
                    <p:panelGrid style="margin: 0 auto" id="wpanel" columns="2">
                        <p:outputLabel id="woutname" value="Nombre: "/>
                        <p:inputText id="winpname" value="#{bkn_Login.usuario.nombre_usuario}"/>
                        <p:outputLabel id="woutdirecion" value="Direccion: "/>
                        <p:inputText id="winpdirecion" value="#{bkn_Login.usuario.direccion_usuario}"/>
                        <p:outputLabel id="wouttelefono" value="Telefono: "/>
                        <p:inputText id="winptelefono" value="#{bkn_Login.usuario.telefono}"/>
                        <p:outputLabel id="woutuser" value="Usuario: "/>
                        <p:inputText id="winpuser" value="#{bkn_Login.us}"/>
                        <p:outputLabel id="woutcontra" value="Contraseña: "/>
                        <p:inputText id="winpcontra" value="#{bkn_Login.contra}"/>
                    </p:panelGrid>
                    <br></br>
                    <p:commandButton value="Crear" action="#{bkn_Login.crearUsuario()}" update="messages"/>
                    <p:commandButton value="Cerrar" icon="pi pi-sign-out" onclick="PF('wdialog').hide();"/>
                </p:dialog>
                <br></br>
                <br></br>
                <p:panelGrid style="margin: 0 auto" id="plogin" columns="2">
                    <p:outputLabel id="outId" value="Id: "/>
                    <p:inputText id="inputId" value="#{bkn_Login.usuario.cod_usuario}"/>
                    <p:outputLabel id="outUser" value="Usuario: "/>
                    <p:inputText id="inputUser" value="#{bkn_Login.usuario.user_usuario}"/>
                    <p:outputLabel id="outPassword" value="Contraseña: "/>
                    <p:password id="toggle" value="#{bkn_Login.usuario.contrasena}" redisplay="true"/>
                </p:panelGrid>
                <br></br>
                <br></br>
                <p:commandButton icon="ui-icon-key" value="Iniciar Sesion" action="#{bkn_Login.iniciarSesion()}" update="messages"/>
                <p:commandButton icon="ui-icon-pencil" value="Limpiar" action="#{bkn_Login.limpiardatos()}" update="plogin"/>
                <p:commandButton icon="pi pi-user" value="Crear Cuenta" onclick="PF('wdialog').show();"/>
            </p:fieldset>
        </h:form>
    </h:body>
</html>
