<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      >
    
    
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Projecto PrimeFaces</title>
        <h:outputStylesheet name="primeicons/primeicons.css" library="primefaces"/>
    </h:head>
    
    
    <h:body>
        <p:growl id="messages" showDetail="true"/>
        <h:form>
            <p:fieldset id="fprincipal">
                <p:outputLabel style="margin: 0 auto; font-size: 150%; font-style: italic; font-family: vivaldy" value="Bienvenido Administrador: "/>
                <p:outputLabel style="margin: 0 auto; font-size: 150%; font-style: italic; font-family: vivaldy" value="#{bkn_Login.usuario.user_usuario}"/>
                <br></br>
                <p:splitButton  value="Usuarrio" icon="pi pi-user">
                    <p:menuitem value="Salir" action="Login" icon="pi pi-home"/>
                </p:splitButton>
                <br></br>
                <br></br>
                <p:panelGrid style="margin: 0 auto" id="pgusuario" columns="1">    
                <p:video style="width: auto" value="../Videos/video2.mp4"
             player="mp4"
             controls="true"
             width="600"
             height="300">
            </p:video>
            </p:panelGrid>
            <br></br>
            <p:separator/>
            <br></br>
            <p:panelGrid style="margin: 0 auto" columns="1">
                <p:outputLabel style="margin: 0 auto; font-size: 150%; font-style: italic; font-family: vivaldy" value="MI CUENTA"/>
            </p:panelGrid>
            <p:dataTable id="tblcuenta" value="#{bkn_Administrador.listaUsuario}" var="itemU" editable="true">
                <p:ajax event="rowEdit" listener="#{bkn_Administrador.actualizarCuenta(itemU.nombre_usuario, itemU.direccion_usuario, itemU.telefono,itemU.estado,itemU.user_usuario, itemU.contrasena)}" update="messages,tblcuenta"/>
                <p:ajax event="rowEditCancel" listener="#{bkn_Administrador.cancelarCuenta()}" update="messages"/>
                
            <p:column id="CuentaId" headerText="ID" style="width:4rem">
                <p:outputLabel id="txtIdCuenta" value="#{itemU.cod_usuario}"/>
            </p:column>
            <p:column id="CuentaPuesto" headerText="Puesto">
                <p:outputLabel id="txtCuentaPuesto" value="#{itemU.nombre_puesto}"/>
            </p:column>
            <p:column id="CuentaNombre" headerText="Nombre">
                <p:cellEditor>
                    <f:facet name="output">
                        <p:outputLabel id="txtCuentaNombre" value="#{itemU.nombre_usuario}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{itemU.nombre_usuario}" style="width:90%" label="Nombre"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>
            <p:column id="CuentaDireccion" headerText="Direccion">
                <p:cellEditor>
                    <f:facet name="output">
                        <p:outputLabel id="txtCuentaDireccion" value="#{itemU.direccion_usuario}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{itemU.direccion_usuario}" style="width:90%" label="Direccion"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>
            <p:column id="CuentaTelefono" headerText="Telefono" style="width:6rem">
                <p:cellEditor>
                    <f:facet name="output">
                        <p:outputLabel id="txtCuentaTelefono" value="#{itemU.telefono}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{itemU.telefono}" style="width:90%" label="Telefono"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>
            <p:column id="CuentaEstado" headerText="Estado" style="width:4rem">
                <p:cellEditor>
                    <f:facet name="output">
                        <p:outputLabel id="txtCuentaEstado" value="#{itemU.estado}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{itemU.estado}" style="width:90%" label="Estado"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>
            <p:column id="CuentaUser" headerText="Usuario" style="width:6rem">
                <p:cellEditor>
                    <f:facet name="output">
                        <p:outputLabel id="txtCuentaUser" value="#{itemU.user_usuario}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{itemU.user_usuario}" style="width:90%" label="Usuario"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>
            <p:column id="CuentaContrasena" headerText="Contrasena" style="width:6rem">
                <p:cellEditor>
                    <f:facet name="output">
                        <p:outputLabel id="txtCuentaContrasena" value="#{itemU.contrasena}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{itemU.contrasena}" style="width:90%" label="Contrasena"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>
            <p:column id="EditBottton" style="width:05%">
                <p:rowEditor style="width:30%" editTitle="Editar Fila" cancelTitle="Cancelar Editado" saveTitle="Guardar Cambios"/>
            </p:column>
            </p:dataTable>
            <br></br>
            <p:separator/>

            <p:dialog id="dialogListaEditorial" widgetVar="wdialogListaEditorial" header="EDITORIAL" modal="true">
                    <br></br>
                <p:dataTable id="tblEditorial" value="#{bkn_Administrador.listaEditorial}" var="itemE" editable="true">
                    <p:ajax event="rowEdit" listener="#{bkn_Administrador.actualizarEditorial(itemE.cod_editorial, itemE.nombre_editorial, itemE.estado)}" update="tblEditorial,messages"/>
                    <p:ajax event="rowEditCancel" listener="#{bkn_Administrador.cancelarEditorial()}" update="messages"/>
                    
                    <p:column id="cIdEditorial" headerText="ID" style="width:4rem">
                        <p:outputLabel id="txtIdEditorial" value="#{itemE.cod_editorial}"/>
                    </p:column>
                    <p:column id="cNombreEditorial" headerText="Nombre" style="width:4rem">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel id="txtNombreEditorial" value="#{itemE.nombre_editorial}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{itemE.nombre_editorial}" style="width:90%" label="NombreEditorial"/>
                            </f:facet>
                        </p:cellEditor>                        
                    </p:column>
                    <p:column id="cEstadoEditorial" headerText="Estado" style="width:4rem">
                        <p:outputLabel id="txtEstadoEditorial" value="#{itemE.estado}"/>
                    </p:column>
                    <p:column id="EditBotttonEditorial" style="width:05%">
                        <p:rowEditor style="width:30%" editTitle="Editar Fila" cancelTitle="Cancelar Editado" saveTitle="Guardar Cambios"/>
                    </p:column>
                    <p:column id="DeleteBottonEditorial" style="width:05%">
                        <p:commandButton id="btnEliminarEditorial" icon="pi pi-times-circle" process="@this" action="#{bkn_Administrador.eliminarEditorial()}" update="messages,tblEditorial">
                            <f:setPropertyActionListener value="#{itemE}" target="#{bkn_Administrador.ediorial}"/>
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
                <br></br>
                <p:commandButton value="Cerrar" icon="pi pi-sign-out" onclick="PF('wdialogListaEditorial').hide();"/>
            </p:dialog>
            
            <p:dialog id="dialogListaAutor" widgetVar="wdialogListaAutor" header="Autor" modal="true">
                    <br></br>
                    <p:dataTable id="tblAutor" value="#{bkn_Administrador.listaAutor}" var="itemA" editable="true">
                        <p:ajax event="rowEdit" listener="#{bkn_Administrador.actualizarAutor(itemA.cod_autor, itemA.nombre_autor, itemA.estado)}" update="tblAutor,messages"/>
                        <p:ajax event="rowEditCancel" listener="#{bkn_Administrador.cancelarAutor()}" update="messages"/>
                    
                    <p:column id="cIdAutor" headerText="ID" style="width:4rem">
                        <p:outputLabel id="txtAutor" value="#{itemA.cod_autor}"/>
                    </p:column>
                    <p:column id="cNombreAutor" headerText="Nombre" style="width:4rem">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel id="txtNombreAutor" value="#{itemA.nombre_autor}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{itemA.nombre_autor}" style="width:90%" label="NombreAutor"/>
                            </f:facet>
                        </p:cellEditor>                        
                    </p:column>
                    <p:column id="cEstadoAutor" headerText="Estado" style="width:4rem">
                        <p:outputLabel id="txtEstadoAutor" value="#{itemA.estado}"/>
                    </p:column>
                    <p:column id="EditBotttonAutor" style="width:05%">
                        <p:rowEditor style="width:30%" editTitle="Editar Fila" cancelTitle="Cancelar Editado" saveTitle="Guardar Cambios"/>
                    </p:column>
                    <p:column id="DeleteBottonAutor" style="width:05%">
                        <p:commandButton id="btnEliminarAutor" icon="pi pi-times-circle" process="@this" action="#{bkn_Administrador.eliminarAutor()}" update="messages,tblAutor">
                            <f:setPropertyActionListener value="#{itemA}" target="#{bkn_Administrador.autor}"/>
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
                <br></br>
                <p:commandButton value="Cerrar" icon="pi pi-sign-out" onclick="PF('wdialogListaAutor').hide();"/>
            </p:dialog>
            
            <p:dialog id="dialogListaCategoria" widgetVar="wdialogListaCategoria" header="Categoria" modal="true">
                    <br></br>
                    <p:dataTable id="tblCategoria" value="#{bkn_Administrador.listaCategoria}" var="itemCa" editable="true">
                        <p:ajax event="rowEdit" listener="#{bkn_Administrador.actualizarCategoria(itemCa.cod_categoria, itemCa.nombre_categoria, itemCa.estado)}" update="tblCategoria,messages"/>
                        <p:ajax event="rowEditCancel" listener="#{bkn_Administrador.cancelarCategoria()}" update="messages"/>
                    
                    <p:column id="cIdCategoria" headerText="ID" style="width:4rem">
                        <p:outputLabel id="txtIdcCategoria" value="#{itemCa.cod_categoria}"/>
                    </p:column>
                    <p:column id="cNombreCategoria" headerText="Nombre" style="width:4rem">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel id="txtNombreCategoria" value="#{itemCa.nombre_categoria}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{itemCa.nombre_categoria}" style="width:90%" label="NombreCategoria"/>
                            </f:facet>
                        </p:cellEditor>                        
                    </p:column>
                    <p:column id="cEstadoCategoria" headerText="Estado" style="width:4rem">
                        <p:outputLabel id="txtEstadoCategoria" value="#{itemCa.estado}"/>
                    </p:column>
                    <p:column id="EditBotttonCategoria" style="width:05%">
                        <p:rowEditor style="width:30%" editTitle="Editar Fila" cancelTitle="Cancelar Editado" saveTitle="Guardar Cambios"/>
                    </p:column>
                    <p:column id="DeleteBottonCategoria" style="width:05%">
                        <p:commandButton id="btnEliminarCategoria" icon="pi pi-times-circle" process="@this" action="#{bkn_Administrador.eliminarCategoria()}" update="messages,tblCategoria">
                            <f:setPropertyActionListener value="#{itemCa}" target="#{bkn_Administrador.categoria}"/>
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
                <br></br>
                <p:commandButton value="Cerrar" icon="pi pi-sign-out" onclick="PF('wdialogListaCategoria').hide();"/>
            </p:dialog>
            
            <p:dialog id="dialogListaPuesto" widgetVar="wdialogListaPuesto" header="Puesto" modal="true">
                    <br></br>
                    <p:dataTable id="tblPuesto" value="#{bkn_Administrador.listaPuesto}" var="itemP" editable="true">
                        <p:ajax event="rowEdit" listener="#{bkn_Administrador.actualizarPuesto(itemP.cod_puesto, itemP.nombre_puesto, itemP.estado)}" update="tblPuesto,messages"/>
                        <p:ajax event="rowEditCancel" listener="#{bkn_Administrador.cancelarPuesto()}" update="messages"/>
                    
                    <p:column id="cIdPuesto" headerText="ID" style="width:4rem">
                        <p:outputLabel id="txtIdcPuesto" value="#{itemP.cod_puesto}"/>
                    </p:column>
                    <p:column id="cNombrePuesto" headerText="Nombre" style="width:4rem">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel id="txtNombrePuesto" value="#{itemP.nombre_puesto}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{itemP.nombre_puesto}" style="width:90%" label="NombrePuestop"/>
                            </f:facet>
                        </p:cellEditor>                        
                    </p:column>
                    <p:column id="cEstadoPuesto" headerText="Estado" style="width:4rem">
                        <p:outputLabel id="txtEstadoPuesto" value="#{itemP.estado}"/>
                    </p:column>
                    <p:column id="EditBotttonPuesto" style="width:05%">
                        <p:rowEditor style="width:30%" editTitle="Editar Fila" cancelTitle="Cancelar Editado" saveTitle="Guardar Cambios"/>
                    </p:column>
                    <p:column id="DeleteBottonPuesto" style="width:05%">
                        <p:commandButton id="btnEliminarPuesto" icon="pi pi-times-circle" process="@this" action="#{bkn_Administrador.eliminarPuesto()}" update="messages,tblPuesto">
                            <f:setPropertyActionListener value="#{itemP}" target="#{bkn_Administrador.puesto}"/>
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
                <br></br>
                <p:commandButton value="Cerrar" icon="pi pi-sign-out" onclick="PF('wdialogListaPuesto').hide();"/>
            </p:dialog>
            
            <p:dialog id="dialogListaUsuarios" widgetVar="wdialogListaUsuarios" header="Usuarios" modal="true">
                    <br></br>
                    <p:dataTable id="tblUsuarios" value="#{bkn_Administrador.listaUsuarios}" var="itemUsus" editable="true">
                        <p:ajax event="rowEdit" listener="#{bkn_Administrador.actualizarUsuario(itemUsus.cod_usuario,itemUsus.cod_puesto,itemUsus.nombre_usuario,itemUsus.direccion_usuario,itemUsus.telefono,itemUsus.estado,itemUsus.user_usuario,itemUsus.contrasena)}" update="tblUsuarios,messages"/>
                        <p:ajax event="rowEditCancel" listener="#{bkn_Administrador.cancelarUsuario()}" update="messages"/>
                    
                    <p:column id="cIdUsuarios" headerText="ID" style="width:4rem">
                        <p:outputLabel id="txtIdcUsuarios" value="#{itemUsus.cod_usuario}"/>
                    </p:column>
                    <p:column id="cNombrePuestos" headerText="Puesto" style="width:4rem">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel id="txtNombrePuestos" value="#{itemUsus.nombre_puesto}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{itemUsus.cod_puesto}" style="width:90%" label="NombrePuestosp"/>
                            </f:facet>
                        </p:cellEditor>                        
                    </p:column>
                    <p:column id="cNombreUsuarios" headerText="Nombre" style="width:4rem">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel id="txtNombreUsuarios" value="#{itemUsus.nombre_usuario}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{itemUsus.nombre_usuario}" style="width:90%" label="NombreUsuarios"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column id="cDireccionUsuarios" headerText="Direccion" style="width:4rem">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel id="txtDireccionUsuarios" value="#{itemUsus.direccion_usuario}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{itemUsus.direccion_usuario}" style="width:90%" label="DireccionUsuarios"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column id="cTelefonoUsuarios" headerText="Telefono" style="width:4rem">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel id="txtTelefonoUsuarios" value="#{itemUsus.telefono}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{itemUsus.telefono}" style="width:90%" label="TelefonoUsuarios"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column id="cEstadoUsuarios" headerText="Estado" style="width:4rem">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel id="txtEstadoUsuarios" value="#{itemUsus.estado}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{itemUsus.estado}" style="width:90%" label="EstadoUsuarios"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column id="cUserUsuarios" headerText="Usuario" style="width:4rem">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel id="txtUserUsuarios" value="#{itemUsus.user_usuario}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{itemUsus.user_usuario}" style="width:90%" label="UserUsuarios"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column id="cContraUsuarios" headerText="Contraseña" style="width:4rem">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel id="txtContraUsuarios" value="#{itemUsus.contrasena}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{itemUsus.contrasena}" style="width:90%" label="ContraUsuarios"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column id="EditBotttonPuesto" style="width:05%">
                        <p:rowEditor style="width:30%" editTitle="Editar Fila" cancelTitle="Cancelar Editado" saveTitle="Guardar Cambios"/>
                    </p:column>
                </p:dataTable>
                <br></br>
                <p:commandButton value="Cerrar" icon="pi pi-sign-out" onclick="PF('wdialogListaUsuarios').hide();"/>
            </p:dialog>
            
            <p:dialog id="dialogListaPInactivos" widgetVar="wdialogListaPInactivos" header="Prestamos Inactivos" modal="true">
                    <br></br>
                    <p:dataTable id="tblPInactivos" value="#{bkn_Administrador.listaPInactivos}" var="itemInac">
                    <p:column id="cIdPinac" headerText="ID" style="width:4rem">
                        <p:outputLabel id="txtIdPinac" value="#{itemInac.cod_prestamo}"/>
                    </p:column>
                    <p:column id="cLibroPinac" headerText="Libro" style="width:4rem">
                        <p:outputLabel id="txtLibroPinac" value="#{itemInac.nombre_libro}"/>                        
                    </p:column>
                    <p:column id="cUsuarioPinac" headerText="Usuario" style="width:4rem">
                        <p:outputLabel id="txtUsuarioPinac" value="#{itemInac.nombre_usuario}"/>
                    </p:column>
                    <p:column id="cFPPinac" headerText="Fecha Prestamo" style="width:4rem">
                        <p:outputLabel id="txtFPPinac" value="#{itemInac.fecha_prestamo}"/>
                    </p:column>
                    <p:column id="cFDPinac" headerText="Fecha Devolucion" style="width:4rem">
                        <p:outputLabel id="txtFDPinac" value="#{itemInac.fecha_devolucion}"/>
                    </p:column>
                </p:dataTable>
                <br></br>
                <p:commandButton value="LLenar Lista" action="#{bkn_Administrador.llenarPInactivos()}" update="tblPInactivos"/>
                <p:commandButton value="Cerrar" icon="pi pi-sign-out" onclick="PF('wdialogListaPInactivos').hide();"/>
            </p:dialog>
            
            
            
            
            <p:dialog id="dialogListaPactivos" widgetVar="wdialogListaPactivos" header="Prestamos Activos" modal="true">
                    <br></br>
                    <p:dataTable id="tblPactivos" value="#{bkn_Administrador.listaPActivos}" var="itemAc" editable="true">
                        <p:ajax event="rowEdit" listener="#{bkn_Administrador.actualizarPrestamo(itemAc.cod_prestamo, itemAc.cod_libro, itemAc.cod_usuario, itemAc.fecha_prestamo, itemAc.fecha_devolucion, itemAc.estado)}" update="tblPactivos,messages"/>
                        <p:ajax event="rowEditCancel" listener="#{bkn_Administrador.cancelarPrestamosActivos()}" update="messages"/>
                     
                    <p:column id="cIdPac" headerText="ID" style="width:4rem">
                        <p:outputLabel id="txtIdPac" value="#{itemAc.cod_prestamo}"/>
                    </p:column>
                    <p:column id="cLibroPac" headerText="Libro" style="width:4rem">
                        <p:outputLabel id="txtLibroPac" value="#{itemAc.nombre_libro}"/>                        
                    </p:column>
                    <p:column id="cUsuarioPac" headerText="Usuario" style="width:4rem">
                        <p:outputLabel id="txtUsuarioPac" value="#{itemAc.nombre_usuario}"/>
                    </p:column>
                    <p:column id="cFPPac" headerText="Fecha Prestamo" style="width:4rem">
                        <p:outputLabel id="txtFPPac" value="#{itemAc.fecha_prestamo}"/>
                    </p:column>
                    <p:column id="cFDPac" headerText="Fecha Devolucion" style="width:4rem">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel id="txtFDPac" value="#{itemAc.fecha_devolucion}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{itemAc.fecha_devolucion}" style="width:90%" label="FDPrestamo"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column id="cEPac" headerText="Estado" style="width:4rem">
                        <p:cellEditor>
                            <f:facet name="output">
                                <p:outputLabel id="txtEPac" value="#{itemAc.estado}"/>
                            </f:facet>
                            <f:facet name="input">
                                <p:inputText value="#{itemAc.estado}" style="width:90%" label="EPrestamo"/>
                            </f:facet>
                        </p:cellEditor>
                    </p:column>
                    <p:column id="EditBotttonPrestamo" style="width:05%">
                        <p:rowEditor style="width:30%" editTitle="Editar Fila" cancelTitle="Cancelar Editado" saveTitle="Guardar Cambios"/>
                    </p:column>
                </p:dataTable>
                <br></br>
                <p:commandButton value="LLenar Lista" action="#{bkn_Administrador.llenarPActivos()}" update="tblPactivos"/>
                <p:commandButton value="Cerrar" icon="pi pi-sign-out" onclick="PF('wdialogListaPactivos').hide();"/>
            </p:dialog>
            
            
            
            
            
            <p:dialog id="dialogCrearEditorial" header="Crear Editorial" widgetVar="wdialogCrearEditorial" modal="true">
                    <p:panelGrid style="margin: 0 auto" id="wpanel" columns="2">
                        <p:outputLabel id="woutCNameEditorial" value="Nombre: "/>
                        <p:inputText id="winpCNameEditorial" value="#{bkn_Administrador.ediorial.nombre_editorial}"/>
                    </p:panelGrid>
                    <br></br>
                    <p:commandButton value="Crear" action="#{bkn_Administrador.crearEditorial()}" update="tblEditorial,messages"/>
                    <p:commandButton value="Cerrar" icon="pi pi-sign-out" onclick="PF('wdialogCrearEditorial').hide();"/>
            </p:dialog>
            
            <p:dialog id="dialogCrearCategoria" header="Crear Categoria" widgetVar="wdialogCrearCategoria" modal="true">
                    <p:panelGrid style="margin: 0 auto" id="wpanelCategoria" columns="2">
                        <p:outputLabel id="woutCNameCategoria" value="Nombre: "/>
                        <p:inputText id="winpCNameCategoria" value="#{bkn_Administrador.categoria.nombre_categoria}"/>
                    </p:panelGrid>
                    <br></br>
                    <p:commandButton value="Crear" action="#{bkn_Administrador.crearCategoria()}" update="tblCategoria,messages"/>
                    <p:commandButton value="Cerrar" icon="pi pi-sign-out" onclick="PF('wdialogCrearCategoria').hide();"/>
            </p:dialog>
       
            <p:dialog id="dialogCrearAutor" header="Crear Autor" widgetVar="wdialogCrearAutor" modal="true">
                    <p:panelGrid style="margin: 0 auto" id="wpanelAutor" columns="2">
                        <p:outputLabel id="woutCNameAutor" value="Nombre: "/>
                        <p:inputText id="winpCNameAutor" value="#{bkn_Administrador.autor.nombre_autor}"/>
                    </p:panelGrid>
                    <br></br>
                    <p:commandButton value="Crear" action="#{bkn_Administrador.crearAutor()}" update="tblAutor,messages"/>
                    <p:commandButton value="Cerrar" icon="pi pi-sign-out" onclick="PF('wdialogCrearAutor').hide();"/>
            </p:dialog>
            
            <p:dialog id="dialogCrearPuesto" header="Crear Puesto" widgetVar="wdialogCrearPuesto" modal="true">
                    <p:panelGrid style="margin: 0 auto" id="wpanelPuesto" columns="2">
                        <p:outputLabel id="woutCNamePuesto" value="Nombre: "/>
                        <p:inputText id="winpCNamePuesto" value="#{bkn_Administrador.puesto.nombre_puesto}"/>
                    </p:panelGrid>
                    <br></br>
                    <p:commandButton value="Crear" action="#{bkn_Administrador.crearPuesto()}" update="tblPuesto,messages"/>
                    <p:commandButton value="Cerrar" icon="pi pi-sign-out" onclick="PF('wdialogCrearPuesto').hide();"/>
            </p:dialog>
            
            <p:dialog id="dialogCrearUsuario" header="Crear Usuario" widgetVar="wdialogCrearUsuario" modal="true">
                    <p:panelGrid style="margin: 0 auto" id="wpanelUsuario" columns="2">
                        <p:outputLabel id="woutCNameCPuesto" value="Puesto: "/>
                        <p:inputText id="winpCNameCPuesto" value="#{bkn_Administrador.usuarios.cod_puesto}"/>
                        <p:outputLabel id="woutCNameUsuario" value="Nombre: "/>
                        <p:inputText id="winpCNameUsuario" value="#{bkn_Administrador.usuarios.nombre_usuario}"/>
                        <p:outputLabel id="woutCDireccionUsu" value="Direcccion: "/>
                        <p:inputText id="winpCDireccionUsu" value="#{bkn_Administrador.usuarios.direccion_usuario}"/>
                        <p:outputLabel id="woutCTeleUsu" value="Telefono: "/>
                        <p:inputText id="winpCTeleUsu" value="#{bkn_Administrador.usuarios.telefono}"/>
                        <p:outputLabel id="woutCUserUsu" value="Usuario: "/>
                        <p:inputText id="winpCUserUsu" value="#{bkn_Administrador.usuarios.user_usuario}"/>
                        <p:outputLabel id="woutCContraUsu" value="Contraseña: "/>
                        <p:inputText id="winpContraUsu" value="#{bkn_Administrador.usuarios.contrasena}"/>
                    </p:panelGrid>
                    <br></br>
                    <p:commandButton value="Crear" action="#{bkn_Administrador.crearUsuario()}" update="tblUsuarios,messages"/>
                    <p:commandButton value="Cerrar" icon="pi pi-sign-out" onclick="PF('wdialogCrearUsuario').hide();"/>
            </p:dialog>
            
            <p:dialog id="dialogCrearLibro" header="Crear Libro" widgetVar="wdialogCrearLibro" modal="true">
                    <p:panelGrid style="margin: 0 auto" id="wpanelCLibro" columns="2">
                        <p:outputLabel id="woutCEditorial" value="Editorial: "/>
                        <p:inputText id="winpCEditorial" value="#{bkn_Administrador.libro.cod_editorial2}"/>
                        <p:outputLabel id="woutCCategoria" value="Categoria: "/>
                        <p:inputText id="winpCCategoria" value="#{bkn_Administrador.libro.cod_categoria2}"/>
                        <p:outputLabel id="woutCAuttor" value="Autor: "/>
                        <p:inputText id="winpCAutor" value="#{bkn_Administrador.libro.cod_autor2}"/>
                        <p:outputLabel id="woutCNombreLibro" value="Nombre: "/>
                        <p:inputText id="winpCNombreLibro" value="#{bkn_Administrador.libro.titulo_libro}"/>
                        <p:outputLabel id="woutCExistencia" value="Existencia: "/>
                        <p:inputText id="winpCExistencia" value="#{bkn_Administrador.libro.existencia}"/>
                    </p:panelGrid>
                    <br></br>
                    <p:commandButton value="Crear" action="#{bkn_Administrador.crearLibro()}" update="tbllibros,messages"/>
                    <p:commandButton value="Cerrar" icon="pi pi-sign-out" onclick="PF('wdialogCrearLibro').hide();"/>
            </p:dialog>
            
            
            
            
            
            
            
            <br></br>
            <p:commandButton icon="pi pi-file" value="Ver Editorial" onclick="PF('wdialogListaEditorial').show();"/>
            <p:commandButton icon="pi pi-pencil" value="Ver Autor" onclick="PF('wdialogListaAutor').show();"/>
            <p:commandButton icon="pi pi-bookmark" value="Ver Categoria" onclick="PF('wdialogListaCategoria').show();"/>
            <p:commandButton icon="pi pi-user-plus" value="Ver Puesto" onclick="PF('wdialogListaPuesto').show();"/>
            <p:commandButton icon="pi pi-user" value="Ver Usuarios" onclick="PF('wdialogListaUsuarios').show();"/>
            <p:commandButton icon="pi pi-clone" value="Ver PActtivos" onclick="PF('wdialogListaPactivos').show();"/>
            <p:commandButton icon="pi pi-clone" value="Ver PInactivos" onclick="PF('wdialogListaPInactivos').show();"/>
            <br></br>
            <p:commandButton icon="pi pi-file" value="Crear Editorial" onclick="PF('wdialogCrearEditorial').show();"/>
            <p:commandButton icon="pi pi-pencil" value="Crear Autor" onclick="PF('wdialogCrearAutor').show();"/>
            <p:commandButton icon="pi pi-bookmark" value="Crear Categoria" onclick="PF('wdialogCrearCategoria').show();"/>
            <p:commandButton icon="pi pi-user-plus" value="Crear Puesto" onclick="PF('wdialogCrearPuesto').show();"/>
            <p:commandButton icon="pi pi-user" value="Crear Usuarios" onclick="PF('wdialogCrearUsuario').show();"/>
            <p:commandButton icon="pi pi-book" value="Crear Libro" onclick="PF('wdialogCrearLibro').show();"/>
            <br></br>
            <br></br>
            <p:panelGrid style="margin: 0 auto" columns="1">
                <p:outputLabel style="margin: 0 auto; font-size: 150%; font-style: italic; font-family: vivaldy" value="LIBROS"/>
            </p:panelGrid>
            <p:dataTable id="tbllibros" value="#{bkn_Administrador.listaLibro}" var="item" editable="true">
                <p:ajax event="rowEdit" listener="#{bkn_Administrador.actualizarLibro(item.cod_libro, item.cod_editorial2, item.cod_categoria2, item.cod_autor2, item.titulo_libro, item.existencia)}" update="tbllibros,messages"/>
                <p:ajax event="rowEditCancel" listener="#{bkn_Administrador.cancelarLibro()}" update="messages"/>
                
                <p:column id="cIdPersona" headerText="ID">
                    <p:outputLabel id="txtIdPersona" value="#{item.cod_libro}"/>
                </p:column>
                <p:column id="cNombre" headerText="Nombre">
                    <p:cellEditor>
                        <f:facet name="output">
                            <p:outputLabel id="txtNombre" value="#{item.titulo_libro}"/>
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{item.titulo_libro}" style="width:90%" label="Nombre"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column id="ceditorial" headerText="Editorial">
                    <p:cellEditor>
                        <f:facet name="output">
                            <p:outputLabel id="txteditorial" value="#{item.cod_editorial}"/>
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{item.cod_editorial2}" style="width:90%" label="Editorial"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column id="cautor" headerText="Autor">
                    <p:cellEditor>
                        <f:facet name="output">
                            <p:outputLabel id="txtautor" value="#{item.cod_autor}"/>
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{item.cod_autor2}" style="width:90%" label="Autor"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column id="ccategoria" headerText="Categoria">
                    <p:cellEditor>
                        <f:facet name="output">
                            <p:outputLabel id="txtcategoria" value="#{item.cod_categoria}"/>
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{item.cod_categoria2}" style="width:90%" label="Categoria"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column id="cexistencia" headerText="Existencia">
                    <p:cellEditor>
                        <f:facet name="output">
                            <p:outputLabel id="txtexistencia" value="#{item.existencia}"/>
                        </f:facet>
                        <f:facet name="input">
                            <p:inputText value="#{item.existencia}" style="width:90%" label="Existencia"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>
                <p:column id="EditBottton1" style="width:05%">
                    <p:rowEditor style="width:30%" editTitle="Editar Fila" cancelTitle="Cancelar Editado" saveTitle="Guardar Cambios"/>
                </p:column>
            </p:dataTable>
            </p:fieldset>
        </h:form>
    </h:body>
</html>
